<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Orange HRM Application Test Automation Test">

<listeners>
<listener class-name="com.orangehrm.generics.CustomListener"/>
<listener class-name="com.orangehrm.generics.ExtentReporterNG"/>

</listeners>
  <test  name=" Orange HRM Application TestCases">

  
    <classes>
      <class name="com.orangehrm.test.LoginPageTest"/>
       <class name="com.orangehrm.test.OpenPIMPageTest"/>
      <class name="com.orangehrm.test.AddEmployeePageTest"/>
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->